@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponent")
<body>
    <div class="container-xxl bg-white p-0">

        @await Component.InvokeAsync("_SpinnerComponent")
        @await Component.InvokeAsync("_NavbarComponent")
       
        @await Component.InvokeAsync("_BookingCoverComponent")
        @await Component.InvokeAsync("_ReservationComponent")
        @if (TempData["Success"] is not null)
        {
            <div class="alert alert-success notification" role="alert">
                @TempData["Success"]
            </div>
            <script>
                @*// Close the success alert after 5 seconds (5000 milliseconds)*@
                setTimeout(function () {
                    $('.alert-success').fadeOut('slow');
                }, 3000);
            </script>
        }
        @if (TempData["Error"] is not null)
        {
            <div class="alert alert-danger notification" role="alert">
                @TempData["Error"]
            </div>
            <script>
                @*// Close the error alert after 5 seconds (5000 milliseconds)*@
                setTimeout(function () {
                    $('.alert-danger').fadeOut('slow');
                }, 3000);
            </script>
        }
        <Partial name="AddBooking"/>
       

        @*@await Component.InvokeAsync("_NewsComponent")*@
        @*@await Html.PartialAsync("_NewsPartial")*@
        <partial name="/Views/Default/_NewsPartial.cshtml" />
        @await Component.InvokeAsync("_FooterComponent")

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_ScriptsComponent")


</body>
</html>

